<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <a href="{{ url_for('index') }}">Home</a> <a href="{{ url_for('index') }}">About</a> <a href="{{ url_for('index') }}">Contact</a>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
                {% for i in messages %}
                <li> {{ i }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content%} {% endblock %}
    </body>
</html>